__pycache__/
.vscode/settings.json
evopie/DB_quizlib.sqlite*
mycookies
venv/
evopie/DB_quizlib-easy.sqlite
testing/Easy Labels Tests/gradebooks.diff
testing/Easy Labels Tests/gradebook-downloaded.cs
.DS_Store
