[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-admin = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
numpy = "*"
pylint = "*"
bleach = "*"
bleach-allowlist = "*"

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
