[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.3"
jinja2 = "==3.0.3"
markupsafe = "==2.1.0"
sqlalchemy = "==1.4.31"
flask-sqlalchemy = "==2.5.1"
flask-login = "==0.5.0"
flask-admin = "==1.6.0"
werkzeug = "==2.0.3"
gunicorn = "==20.1.0"
plotly = "==5.6.0"
pandas = "==1.4.1"
numpy = "==1.22.2"
pylint = "==2.12.2"
bleach = "==4.1.0"
bleach-allowlist = "==1.0.3"
matplotlib = "==3.3.3"
dash = "==2.11.1"
dash_bootstrap_components = "==1.4.1"

[dev-packages]
pylint = "==2.12.2"
rope = "==0.23.0"
autopep8 = "==1.6.0"
pytest = "==7.1.2"

[requires]
python_version = "3.8"
