<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='basestyle.css') }}">
        <style>
            .reveal-if-not-selected {
                opacity: 1;
                max-height: 100px;
                overflow: visible;
                padding: 10px 20px;
                display: inline;
            }
            input[type="radio"]:checked ~ .reveal-if-not-selected {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                display: none;                
            }
        </style>
         <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        watch out for compatibility w/ summernote
        https://github.com/summernote/summernote/issues/2087
        -->
    
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
                crossorigin="anonymous"></script>
        <!-- include libraries(jQuery, bootstrap) -->

        <!-- include summernote css/js -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
        <script type='text/javascript'>
            $(document).ready(function() {
                $('.summernote').summernote({
                    // NOTE removing codeView
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['fontname', ['fontname']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['help', ['codeview', 'help']],
                        ],
                    // NOTE activating filters
                    codeviewFilter: true,
                    codeviewIframeFilter: true
                });
            });
        </script>
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/">EvoPIE</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                
                    {% if current_user.is_instructor() %}
                        <li class="nav-item">
                            <a href="/questions-browser"    class="nav-link"> Questions Browser </a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes-browser"      class="nav-link"> Quizzes Browser </a>
                        </li>
                    {% endif %}
            
                    {% if current_user.is_admin() %}
                        <li class="nav-item">
                            <a href="/admin" class="nav-link"> Admin Dashboard </a>
                        </li>
                    {% endif %}
            
                {% else %}
                {% endif %}

                <!--
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                -->
                <!--
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                -->
                </ul>
                
                
                <form class="form-inline my-2 my-lg-0">
                    {% if current_user.is_authenticated %}
                
                        Logged as: [{{current_user.email}}] 
                        <a href="/logout" class="btn my-2"> Logout </a>
                        <!--
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        -->
                
                    {% else %}

                        <a href="{{ url_for('auth.get_signup') }}"  class="btn my-2">Signup for an Account</a>
                        <a href="{{ url_for('auth.get_login') }}"   class="btn my-2">Login</a>
                        
                    {% endif %}
                </form>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>