{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<!-- include libraries(jQuery, bootstrap) -->
<!-- done in base.html -->

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        $('.summernote').summernote();
    });
</script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Contributor Dashboard</h1>
            <p class="lead">
                This is where you may create new questions and their distractors.
                You may then assemble them into
                    <ul>
                        <li>QuizQuestions, composed of on Question
                            and its solution, as well as 3 distractors
                        </li>
                        <li>Quizzes composed of multiple QuizQuestions</li>
                    </ul>
            </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>



<!div class="card-deck">
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
            <h5 class="card-title" data-toggle = "collapse" data-target = "#newquestion">Create New Question</h5>
            <div  id = "newquestion" class = "collapse">
            <p class="card-text">
                <form id="questionForm" method="post" action='http://172.23.247.249:5000//questions'>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" id="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="stem">Question</label>
                        <!--<input name="stem" id="question" class="form-control" required>
                        -->
                        <textarea class="summernote form-control" name="stem" id="question" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answer">Answer</label>
                        <input name="answer" id="answer" class="form-control" required>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>            
            </p></div>
        </div>
    </div>


    
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
            <h5 class="card-title" data-toggle = "collapse" data-target = "#newdistractor">Create a new Distractor &amp; add it to a Question</h5>
            <div  id = "newdistractor" class = "collapse"><p class="card-text">
                <form id="distractorForm" method="post" onsubmit="return onSubmitDistractorForm();" action='http://localhost:5000/questions/'>
                    <div class="form-group">
                        <label for="qid">Question ID</label>
                        <input name="qid" id="qid" value="2" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="answer">Distractor to add</label>
                        <input name="answer" id="answer" class="form-control" required>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>                        
            </p></div>
        </div>
    </div>



    <script type="text/javascript">
        function onSubmitDistractorForm(){
            var quiz = document.getElementById('qid');
            var action = document.getElementById('distractorForm');
            action.action = 'http://localhost:5000/questions/' + quiz.value + '/distractors';
        }
    </script>



    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
            <h5 class="card-title" data-toggle = "collapse" data-target = "#newquizquestion">Compose new QuizQuestion</h5>
            <div  id = "newquizquestion" class = "collapse">
            <p class="card-text">
                <form id='QuizQuestionForm'>
                    <div class="form-group">
                        <label for="qq_qid">Question ID</label>
                        <input name="qq_qid" id="qq_qid" value="2" required>
                    </div>
                    <div class="form-group">
                        <label for="qq_d1">Distractor #1</label>
                        <input name="qq_d1" id="qq_d1" required>
                    </div>
                    <div class="form-group">
                        <label for="qq_d2">Distractor #2</label>
                        <input name="qq_d2" id="qq_d2" required>
                    </div>
                    <div class="form-group">
                        <label for="qq_d3">Distractor #3</label>
                        <input name="qq_d3" id="qq_d3" required>
                    </div>
                    <p name="result" id="result">
                    </p>
                    <button onclick="submitQuizQuestionForm()" class="btn btn-primary">Submit</button>
                </form>
            </p></div>
        </div>
    </div>



    <script type="text/javascript">
        function submitQuizQuestionForm(){
            let result = document.querySelector('#result');
            let qid = document.querySelector('#qq_qid');
            let d1 = document.querySelector('#qq_d1');
            let d2 = document.querySelector('#qq_d2');
            let d3 = document.querySelector('#qq_d3');
                
            let xhr = new XMLHttpRequest();
            let url = 'http://localhost:5000/quizquestions';
        
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
    
            // Create a state change callback 
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    result.innerHTML = this.responseText;
                    }
            };
    
            // Converting JSON data to string 
            var data = JSON.stringify({ "qid": parseInt(qid.value), "distractors_ids": [parseInt(d1.value), parseInt(d2.value), parseInt(d3.value)] }); 
            console.log("sending --> " + data)
            // Sending data with the request 
            xhr.send(data);
        }
    </script>
    
    
    
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
            <h5 class="card-title" data-toggle = "collapse" data-target = "#newquiz">Compose new Quiz</h5>
            <div  id = "newquiz" class = "collapse">
            <p class="card-text">
                <form id='QuizForm'>
                    <div class="form-group">
                        <label for="quiz_title">Title</label>
                        <input name="quiz_title" id="quiz_title" value="Your Quiz Title" required>
                    </div>
                    <div class="form-group">
                        <label for="quiz_description">Title</label>
                        <input name="quiz_description" id="quiz_description" value="Your Quiz Description" required>
                    </div>
                    <div class="form-group">
                        <label for="quiz_qq1">QuizQuestion #1</label>
                        <input name="iz_qq1" id="quiz_qq1" required>
                    </div>
                    <div class="form-group">
                        <label for="quiz_qq2"></label>QuizQuestion #2</label>
                        <input name="quiz_qq2" id="quiz_qq2" required>
                    </div>
                    <div class="form-group">
                        <label for="quiz_qq3">QuizQuestion #3</label>
                        <input name="quiz_qq3" id="quiz_qq3" required>
                    </div>
                    <p name="quiz_result" id="quiz_result">
                    </p>
                    <button onclick="submitQuizForm()" class="btn btn-primary">Submit</button>
                </form>
            </p>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        function submitQuizForm(){
            let result = document.querySelector('#quiz_result');
            let title = document.querySelector('#quiz_title');
            let description = document.querySelector('#quiz_description');
            let qq1 = document.querySelector('#quiz_qq1');
            let qq2 = document.querySelector('#quiz_qq2');
            let qq3 = document.querySelector('#quiz_qq3');
                
            let xhr = new XMLHttpRequest();
            let url = 'http://localhost:5000/quizzes';
        
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
    
            // Create a state change callback 
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    result.innerHTML = this.responseText;
                    }
            };
    
            // Converting JSON data to string 
            var data = JSON.stringify({ "title": title.value, "description": description.value, "questions_ids": [parseInt(qq1.value), parseInt(qq2.value), parseInt(qq3.value)] }); 
            console.log("sending --> " + data)
            // Sending data with the request 
            xhr.send(data);
        }
    </script>
    


    <!--
    <div class="card bg-light m-3">
        <div class="card-body" bg-light>
            <h5 class="card-title"></h5>
            <p class="card-text">
            </p>
        </div>
    </div>
    -->
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
            <h5 class="card-title" data-toggle = "collapse" data-target = "#questionsselector">Questions Selector</h5>
            <div  id = "questionsselector" class = "collapse">
                <p class="card-text">
                    <table>
                        <!--
                            <tr>
                            <th>ID</th>
                            <th colspan="2">Question</th>
                            <th></th>
                        </tr>
                        -->
                        {% for single_question in all_questions %}
                        <tr>
                            <td rowspan="3" style="vertical-align: top">{{ single_question.id }}</td>
                            <td colspan="2"><b>{{ single_question.title }}</b></td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top"><b>Q:</b></td>
                            <td>
                                    {{ single_question.stem | safe }}
                             </td>
                        </tr>
                        <tr>   
                            <td style="vertical-align: top"><b>A:</b></td>
                            <td>{{ single_question.answer | safe }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </p>
            </div>
        </div>
    </div>
<!/div>

{% endblock %}
