{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#gradingtable').DataTable();
    } );
</script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Courses Browser</h1>
            <p class="lead">
                These are the courses that you created.
            </p>
    </div>
</div>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title pointer-link" data-bs-toggle = "collapse" data-bs-target = "#newcourse">Create a new course</h5>
        <div  id = "newcourse" class = "collapse">
        <p class="card-text">
            <form id='CourseForm'>
                <div class="form-group">
                    <label for="course_name">Name (Subject & Number)</label>
                    <input name="course_name" id="course_name" value="Your Course Name" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="course_title">Title</label>
                    <input name="course_title" id="course_title" value="Your Course Title" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="course_description">Description</label>
                    <textarea class="summernote form-control" name="course_description" id="course_description" required></textarea>
                </div>
                <button onclick="submitCourseForm()" class="btn btn-primary">Submit</button>
            </form>
        </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitCourseForm(){
        let name = document.querySelector('#course_name');
        let description = document.querySelector('#course_description');
        let title = document.querySelector('#course_title');
        
        let xhr = new XMLHttpRequest();
        let url = '/courses';
    
        xhr.open("POST", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback 
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
               sendToFlashLand(JSON.parse(this.responseText).message,"primary");
            }
        };

        // Converting JSON data to string 
        // old version limited to 3 questions
        // var data = JSON.stringify({ "title": title.value, "description": description.value, "questions_ids": [parseInt(qq1.value), parseInt(qq2.value), parseInt(qq3.value)] });
        
        var data = JSON.stringify({ "name": name.value, "description": description.value, "title": title.value });
        
        // Sending data with the request 
        xhr.send(data);
        event.preventDefault();
        //event.stopPropagation();
        location.reload();
        //return false;
    }
</script>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    
    <div class="card-body" bg-light>

        <table class='compact stripe' width='100%' id="gradingtable">
            <thead><tr>
                <th>ID</th>
                <th>Name</th>
                <th>Instructor</th>
                <th class="text-center">Students</th>
                <th class="text-center" >Quizzes</th>
                <th class="text-end">Actions</th>
            </tr></thead>
            <tbody>
                    
            {% for single_course in all_courses %}
                <tr>
                    <td>
                        {{ single_course.id }}
                    </td>
                    <td>
                        <p class="pointer-link mb-0" data-bs-toggle = "modal" data-bs-target = "#q{{single_course.id}}">
                            {{ single_course.name }}
                        </p>
                        <div class="modal fade" id="q{{single_course.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                {{ single_course.description | safe }}
                            </div></div>
                        </div>
                    </td>
                    <td>
                        {% if current_user.id == single_course.instructor_id %}
                            {{current_user.first_name | safe}} {{current_user.last_name | safe}}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{course_student_counts.get(single_course.id, 0)}}
                    </td>
                    <td class="text-center">
                        {{course_quizzes_count.get(single_course.id, 0)}}
                    </td>
                    <td class="text-end">
                        <a href="/course-editor/{{single_course.id}}" type="button" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        </a>
                        <a href="/courses/{{single_course.id}}/student-list" type="button" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}