{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#gradingtable').DataTable();
        } );
    </script>
{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Grades for Quiz {{quiz.title}} [{{quiz.id}}] </h1>
                <p class="lead">
                    Scores for both step 1 and step 2 are computed below, click them to see 
                    the details of the student's responses.
                    Click the justifications button to review the student's contributions
                    to peer instructions.
                </p>
        </div>
    </div>
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body text-center" bg-light>
    <table class='compact stripe' width='100%' id="gradingtable">
        <thead><tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Initial Score</th>
            <th>Revised Score</th>
            <th>Justifications</th>
            <th>Likes Given</th>
            <th>Likes Received</th>
        </tr></thead>
        <tbody>
    {% for i in range(all_grades | length) %}
        <tr>
            <td>{{all_grades[i].student.last_name}}</td>
            <td>{{all_grades[i].student.first_name}}</td>
            <td>{{all_grades[i].student.email}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target=".TG-INI-{{all_grades[i].student.id}}">
                    {{all_grades[i].initial_total_score}}
                </button>
                <div class="modal fade TG-INI-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <table>
                            <tr>
                                <th>Question No.</th>
                                <th>Response No.</th>
                            </tr>
                            {% for item in grading_details[i].initial_responses %}
                                {% set item_index = item | int %}
                                {% set j = grading_details[i].initial_responses[item] %}
                                <tr>
                                    <td>#{{ item }} - {{ questions[item].stem }}</td>
                                    {% if j == '-1' %}
                                    <td>#{{ grading_details[i].initial_responses[item] }} - {{ questions[item].answer }}</td>
                                    {% else %}
                                    <td>#{{ grading_details[i].initial_responses[item] }} - {{ distractors[item][j] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                      </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target=".TG-REV-{{all_grades[i].student.id}}">
                    {{all_grades[i].revised_total_score}}
                </button>
                <div class="modal fade TG-REV-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <table>
                            <tr>
                                <th>Question No.</th>
                                <th>Revised Response No.</th>
                            </tr>
                            {% for item in grading_details[i].revised_responses %}
                                {% set item_index = item | int %}
                                {% set j = grading_details[i].revised_responses[item] %}
                                <tr>
                                    <td>#{{ item }} - {{ questions[item].stem }}</td>
                                    {% if j == '-1' %}
                                    <td>#{{ grading_details[i].revised_responses[item] }} - {{ questions[item].answer }}</td>
                                    {% else %}
                                    <td>#{{ grading_details[i].revised_responses[item] }} - {{ distractors[item][j] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                      </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target=".TG-JUS-{{all_grades[i].student.id}}">
                    Justifications
                </button>
                <div class="modal fade TG-JUS-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-content">
                      <div class="modal-content">
                        <div class="accordion" id="accordionExample">
                            {% for question_id, justifications_eachQuestion in grading_details[i].justifications.items() %}
                                    <div class="accordion-item" >
                                    <h2 class="accordion-header" id="Heading{{question_id}}">
                                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-parent="#accordionExample" href="#collapse{{question_id}}" aria-expanded="false" aria-controls="collapse{{question_id}}"">
                                            Question #{{ question_id }} - {{ questions[question_id].stem | safe }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{question_id}}"" class="accordion-collapse collapse" aria-labelledby="Heading{{question_id}}" ">
                                        <div class="accordion-body">
                                            <table>
                                                <tr>
                                                    <th>Distractor</th>
                                                    <th>Justification</th>
                                                </tr>
                                                {% for distractor_id, justification in justifications_eachQuestion.items() %}
                                                    <tr>
                                                        {% if distractor_id == '-1' %}
                                                            <td>#{{ distractor_id }} - {{ questions[question_id].answer | safe }}</td>
                                                            <td>{{ justification | safe }}</td>
                                                        {% else %}
                                                            <td>#{{ distractor_id }} - {{ distractors[question_id][distractor_id] }}</td>
                                                            <td>{{ justification | safe }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                data-target=".TG-GIVEN-{{all_grades[i].student.id}}">
                    {{likes_given[all_grades[i].student.id] | length}}
                </button>
                <div class="modal fade TG-GIVEN-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-content">
                      <div class="modal-content">
                        <div class="accordion" id="accordionExample">
                            {% for question_id, justifications_eachQuestion in grading_details[i].justifications.items() %}
                                    <div class="accordion-item" >
                                    <h2 class="accordion-header" id="Heading{{question_id}}">
                                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-parent="#accordionExample" href="#collapse{{question_id}}" aria-expanded="false" aria-controls="collapse{{question_id}}"">
                                            Question #{{ question_id }} - {{ questions[question_id].stem | safe }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{question_id}}"" class="accordion-collapse collapse" aria-labelledby="Heading{{question_id}}" ">
                                        <div class="accordion-body">
                                            <h5>Answer - {{ questions[question_id].answer | safe }}</h5>
                                            {% for justification in likes_given[all_grades[i].student.id] %}
                                                {% set q = question_id | int %}
                                                {% if justification.quiz_question_id == q %}
                                                    <p>{{ justification.justification | safe }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                data-target=".TG-REC-{{all_grades[i].student.id}}">
                    {{likes_received_count[all_grades[i].student.id]}}
                </button>
                <div class="modal fade TG-REC-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-content">
                      <div class="modal-content">
                        <div class="accordion" id="accordionExample">
                            {% for question_id, justifications_eachQuestion in grading_details[i].justifications.items() %}
                                    <div class="accordion-item" >
                                    <h2 class="accordion-header" id="Heading{{question_id}}">
                                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-parent="#accordionExample" href="#collapse{{question_id}}" aria-expanded="false" aria-controls="collapse{{question_id}}"">
                                            Question #{{ question_id }} - {{ questions[question_id].stem | safe }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{question_id}}"" class="accordion-collapse collapse" aria-labelledby="Heading{{question_id}}" ">
                                        <div class="accordion-body">
                                            <h5>Answer - {{ questions[question_id].answer | safe }}</h5>
                                            {% for justification in likes_received[all_grades[i].student.id] %}
                                                {% set q = question_id | int %}
                                                {% if justification.quiz_question_id == q %}
                                                    <p>{{ justification.justification | safe }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-primary btn-sm" href="/getDataCSV/{{quiz.id}}">Download CSV</a>
    </div>
{% endblock %}
