{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block content %}
    <h1>Grades for Quiz {{quiz.title}} [{{quiz.id}}] </h1>
    <table border='1'>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Initial Score</th>
            <th>Revised Score</th>
            <th>Initial Responses</th>
            <th>Revised Responses</th>
            <th>Justifications</th>
        </tr>
    {% for grade in all_grades %}
        <tr>
            <td>{{grade.student.last_name}}</td>
            <td>{{grade.student.first_name}}</td>
            <td>{{grade.student.email}}</td>
            <td>{{grade.initial_total_score}}</td>
            <td>{{grade.revised_total_score}}</td>
            <td>{{grade.initial_responses}}</td>
            <td>{{grade.revised_responses}}</td>
            <td>{{grade.justifications}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}