{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#gradingtable').DataTable();
        } );
    </script>
{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Grades for Quiz {{quiz.title}} [{{quiz.id}}] </h1>
                <p class="lead">
                    Scores for both step 1 and step 2 are computed below, click them to see 
                    the details of the student's responses.
                    Click the justifications button to review the student's contributions
                    to peer instructions.
                </p>
        </div>
    </div>
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body text-center" bg-light>
    <table class='compact stripe' width='100%' id="gradingtable">
        <thead><tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Initial Score</th>
            <th>Revised Score</th>
            <th>Justifications</th>
        </tr></thead>
        <tbody>
    {% for i in range(all_grades | length) %}
        <tr>
            <td>{{all_grades[i].student.last_name}}</td>
            <td>{{all_grades[i].student.first_name}}</td>
            <td>{{all_grades[i].student.email}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target=".TG-INI-{{all_grades[i].student.id}}">
                    {{all_grades[i].initial_total_score}}
                </button>
                <div class="modal fade TG-INI-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <table>
                            <tr>
                                <th>Question No.</th>
                                <th>Response No.</th>
                            </tr>
                            {% for item in initial_responses[i] %}
                                {% set item_index = item | int %}
                                {% set j = initial_responses[i][item] | int %}
                                <tr>
                                    <td>#{{ item }} - {{ all_questions[item_index - 1].stem }}</td>
                                    <td>#{{ initial_responses[i][item] }} - {{ distractors[item_index][j] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                      </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target=".TG-REV-{{all_grades[i].student.id}}">
                    {{all_grades[i].revised_total_score}}
                </button>
                <div class="modal fade TG-REV-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <table>
                            <tr>
                                <th>Question No.</th>
                                <th>Revised Response No.</th>
                            </tr>
                            {% for item in revised_responses[i] %}
                                {% set item_index = item | int %}
                                {% set j = revised_responses[i][item] | int %}
                                <tr>
                                    <td>#{{ item }} - {{ all_questions[item_index - 1].stem }}</td>
                                    {% if j == -1 %}
                                    <td>#{{ revised_responses[i][item] }} - {{ all_questions[item_index - 1].answer }}</td>
                                    {% else %}
                                    <td>#{{ revised_responses[i][item] }} - {{ distractors[item_index][j] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                      </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target=".TG-JUS-{{all_grades[i].student.id}}">
                    Justifications
                </button>
                <div class="modal fade TG-JUS-{{all_grades[i].student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-content">
                      <div class="modal-content">
                        <div class="accordion" id="accordionExample">
                            {% for item in justifications[i] %}
                                {% for question in item %}
                                    {% set q = question | int %}
                                    <div class="accordion-item" >
                                    <h2 class="accordion-header" id="Heading{{question}}">
                                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-parent="#accordionExample" href="#collapse{{question}}" aria-expanded="false" aria-controls="collapse{{question}}"">
                                            Question #{{ question }} - {{ all_questions[q - 1].stem }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{question}}"" class="accordion-collapse collapse" aria-labelledby="Heading{{question}}" ">
                                        <div class="accordion-body">
                                            <table>
                                                <tr>
                                                    <th>Distractor</th>
                                                    <th>Justification</th>
                                                </tr>
                                                {% for distractor in justifications[i][question] %}
                                                    <tr>
                                                        {% set d = distractor | int %}
                                                        {% if d == -1 %}
                                                            <td>#{{ distractor }} - {{ all_questions[q - 1].answer }}</td>
                                                            <td>{{ justifications[i][question][distractor] }}</td>
                                                        {% else %}
                                                            <td>#{{ distractor }} - {{ distractors[q][d] }}</td>
                                                            <td>{{ justifications[i][question][distractor] }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
