{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
</style>
  
  {% endblock %}

{% block content %}

<!--

<h1>All Questions in our Data Base</h1>

  {% for quiz in quizzes %}
      <div>
          <h2> {{ quiz['title'] }}       </h2>
          <p>  {{ quiz['stem'] }}    </p>
          <ul>
              {% for alternative in quiz['alternatives'] %}
                  <li> {{ alternative }} </li>
              {% endfor %}    
          </ul>
      </div>
  {% endfor %}
--> 

<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1>EvoPIE</h1>
        <p class="lead text-muted">Evolutionary Peer Instruction Environment</p>
        <div>
          {% with messages = get_flashed_messages(category_filter=["error", "postError"]) %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% endwith %}
        </div>
        <p>
          {% if current_user.is_authenticated %}
            {% if current_user.is_student() %}
              <a href="/student/1" class="btn btn-primary my-2"> Take the current Quiz</a>
            {% endif %}
            {% if current_user.is_instructor() %}
              <a href="/contributor" class="btn btn-primary my-2"> Contributor Dashboard </a>
              <a href="/questions-browser" class="btn btn-secondary my-2"> Questions Browser </a>
              <a href="/quizzes-browser" class="btn btn-secondary my-2"> Quizzes Browser </a>
            {% endif %}
            {% if current_user.is_admin() %}
              <a href="/admin" class="btn btn-primary my-2"> Admin Dashboard </a>
            {% endif %}
            <a href="/logout" class="btn btn-secondary my-2"> Logout </a>
          {% else %}
            <a href="{{ url_for('auth.get_signup') }}" class="btn btn-secondary my-2">Signup for an Account</a>
            <a href="{{ url_for('auth.get_login') }}" class="btn btn-primary my-2">Login</a>
          {% endif %}
        </p>
      </div>
    </section>
</main>
{% endblock %}
