{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Questions Browser</h1>
            <p class="lead">
                Use this to find questions that are of interest to you. 
                Take note of their question ID so that you may then integrate
                them into your quizzes or contribute new distractors to them.
            </p>
    </div>
</div>

    

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title" data-toggle = "collapse" data-target = "#newquestion">Create New Question</h5>
        <div id = "newquestion" class = "collapse">
            <p class="card-text">
                <form id="questionForm" method="post" action='/questions'>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" id="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="stem">Question</label>
                        <textarea class="summernote form-control" name="stem" id="question" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answer">Answer</label>
                        <textarea class="summernote form-control" name="answer" id="answer" required></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>            
            </p>
        </div>
    </div>
</div>


<!div class="card-deck">    
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
    
            <table class='compact stripe' width='100%' id="gradingtable">
                <thead><tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Actions</th>
                </tr></thead>
                <tbody>
                {% for single_question in all_questions %}
                    <tr>
                        <td>
                            {{ single_question.id }}
                        </td>
                        <td>
                            <p data-toggle = "modal" data-target = "#q{{single_question.id}}">
                                {{ single_question.title }}
                            </p>
                            <div class="modal fade" id="q{{single_question.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <table style="border: 0; width: 100%;" cellpadding="10">
                                            <tr>
                                                <td style="vertical-align: top"><b>Q:</b></td>
                                                <td>
                                                        {{ single_question.stem | safe }}
                                                </td>
                                            </tr>
                                            <tr>   
                                                <td style="vertical-align: top"><b>A:</b></td>
                                                <td>{{ single_question.answer | safe }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>                    
                        </td>
                        <td class='text-right'>
                            <!a class="btn btn-primary my-2 btn-sm" href="/question-editor/{{ single_question.id }}">
                            <a class="" href="/question-editor/{{ single_question.id }}">
                                <!--
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                  </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
<!/div>
{% endblock %}
