{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Questions Browser</h1>
            <p class="lead">
                Use this to find questions that are of interest to you. 
                Take note of their question ID so that you may then integrate
                them into your quizzes or contribute new distractors to them.
            </p>
    </div>
</div>

    

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title" data-toggle = "collapse" data-target = "#newquestion">Create New Question</h5>
        <div id = "newquestion" class = "collapse">
            <p class="card-text">
                <form id="questionForm" method="post" action='/questions'>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" id="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="stem">Question</label>
                        <textarea class="summernote form-control" name="stem" id="question" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answer">Answer</label>
                        <textarea class="summernote form-control" name="answer" id="answer" required></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>            
            </p>
        </div>
    </div>
</div>


<!div class="card-deck">    
    {% for single_question in all_questions %}
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
    
            <h5 class="card-title">ID {{ single_question.id }} - {{ single_question.title }}</h5>
    
            <p class="card-text">
            </p>
    
            <table style="border: 0; width: 100%;" cellpadding="10">
                <tr>
                    <td style="vertical-align: top"><b>Q:</b></td>
                    <td>
                            {{ single_question.stem | safe }}
                    </td>
                </tr>
                <tr>   
                    <td style="vertical-align: top"><b>A:</b></td>
                    <td>{{ single_question.answer | safe }}</td>
                </tr>
            </table>
            <a class="btn btn-primary my-2" href="/question-editor/{{ single_question.id }}">Edit Question</a>
        </div>
    </div>
    {% endfor %}
<!/div>
<div class="w-50 mx-auto d-flex justify-content-around">
    {% if prev_url %}
        <a class="btn btn-primary my-2" href="{{ prev_url }}">Previous Questions</a>
    {% endif %}
    {% if next_url %}
        <a class="btn btn-primary my-2" href="{{ next_url }}">Next Questions</a>
    {% endif %}
</div>
{% endblock %}
