{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {

    } );
</script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Quiz Editor</h1>
            <p class="lead">
                Use this to create new questions to add to this quiz.
                First pick a question (solution + answer) then add distractors to it.
                You may also remove entire questions from the quiz.
            </p>
    </div>
</div>





<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title">Quiz ID#{{quiz.id}}</h5>
        <div>
        <p class="card-text">
            <form id='QuizForm'>
                <div class="form-group">
                    <label for="quiz_title">Title</label>
                    <input name="quiz_title" id="quiz_title" value="{{quiz.title}}" required>
                </div>
                <div class="form-group">
                    <label for="quiz_description">Description</label>
                    <textarea class="summernote form-control" name="quiz_description" id="quiz_description" required>
                        {{quiz.description}}
                    </textarea>
                </div>
                <p name="quiz_result" id="quiz_result">
                </p>
                <button onclick="submitQuizForm(event)" class="btn btn-primary">Submit Changes</button>
            </form>
        </p>
        </div>
    </div>
</div>


{% for question in quiz.questions %}
<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title"> {{question.title}} [ID#{{question.id}}]</h5>
        <div>
            <p class="card-text">
                {{question.stem}}
            </p>
            <ul>
                <li> {{question.answer}} </li>
            </ul>
            <ul>
            {% for distractor in question.alternatives %}
                {%- if distractor[0] != -1 -%}
                    <li>
                        {{distractor[1]|safe}} [ID#{{distractor[0]}}]
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        
        <button onclick="editQuestion({{question.id}})" class="btn btn-primary">Edit Question</button>

        <button onclick="" class="btn btn-danger">Remove Question</button>
    </div>
</div>
{% endfor %}



<script type="text/javascript">

    function editQuestion(q){
        window.open('/question-editor/' + q, '_blank');
    }
    function submitQuizForm(event){
        // This method only updates an existing quiz' title & description
        let result = document.querySelector('#quiz_result');
        let title = document.querySelector('#quiz_title');
        let description = document.querySelector('#quiz_description');
            
        let xhr = new XMLHttpRequest();
        let url = '/quizzes/{{quiz.id}}';
    
        xhr.open("PUT", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback 
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
                }
        };
        // FIXED 405 returned: that was the lack of quiz.id on the URL
        // Converting JSON data to string 
        // We pass an empty list as questions_ids since we only want to update the title / description in this page
        var data = JSON.stringify({ "title": title.value, "description": description.value, "questions_ids": [] }); 
        // Sending data with the request 
        xhr.send(data);
        //location.reload();

        
        // FIXED redirects to URL with arguments in ? format
        // had to stop propagation of events in the DOM in the onclick handler
        event.preventDefault();
        event.stopPropagation();

        return false;
        // NOTE return false in onSubmit handlers in order to not reload the page
        // see https://stackoverflow.com/questions/14224366/how-to-avoid-automatic-page-reload-after-xmlhttprequest-call/14224399
        // NOPE... we are using onclick handler here not onsubmit...
        // still looks like it's working...
    }
</script>

{% endblock %}