{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Quiz Editor</h1>
            <p class="lead">
                Use this to create new questions to add to this quiz.
                First pick a question (solution + answer) then add distractors to it.
                You may also remove entire questions from the quiz.
            </p>
    </div>
</div>





<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title">Quiz ID#{{quiz.id}}</h5>
        <div>
        <p class="card-text">
            <form id='QuizForm'>
                <div class="form-group">
                    <label for="quiz_title">Title</label>
                    <input name="quiz_title" id="quiz_title" value="{{quiz.title}}" required>
                </div>
                <div class="form-group">
                    <label for="quiz_description">Description</label>
                    <textarea class="summernote form-control" name="quiz_description" id="quiz_description" required>
                        {{quiz.description}}
                    </textarea>
                </div>
                <p name="quiz_result" id="quiz_result">
                </p>
                <button onclick="submitQuizForm(event)" class="btn btn-primary">Submit Changes</button>
            </form>
        </p>
        </div>
    </div>
</div>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title"> </h5>
        
        <!-- this one is not finished, we do not have the code to handle distractors in the editor yet
        <button onclick="addNewQuestion()" class="btn btn-primary">Create a new question for this Quiz</button>
        -->
        <!--
            we might want, for now, to let the user create the Question separately, then add them to quiz here
            by selecting them, then selecting their distractors for the QuizQuestion
        -->
        <button onclick="addExistingQuestion()" class="btn btn-primary">Add existing question to this Quiz</button>
        
    </div>
</div>

<script>
    function addNewQuestion(){
        window.open('/quiz-question-editor/{{quiz.id}}/-1', '_blank');
        // -1 means that we want to create a new question
    }

    function addExistingQuestion(){
        window.open('/quiz-question-selector-1/{{quiz.id}}', '_blank');
    }
</script>

{% for question in quiz.questions %}
<!--
    quiz.questions is actually the list of QuizQuestions for this Quiz
-->
<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title"> 
            <a  href='#' onclick="editQuizQuestion({{quiz.id}},{{question.id}})" type="button" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
            </a>

            <a  href='#' onClick="removeQuizQuestion({{quiz}},{{question.id}})" type="button" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>

            {{question.title}} [ID#{{question.id}}]

        </h5>
        
        <div>
            <p class="card-text">
                <table style="border: 0;border-collapse: separate; border-spacing: 0px 3px 1rem 3px;" cellpadding="10">
                    <tr>
                        <td style="vertical-align: top"><b>Q:</b></td>
                        <td>
                            {{ question.stem | safe }}
                        </td>
                    </tr>
                    <tr>   
                        <td style="vertical-align: top"><b>A:</b></td>
                        <td>
                            {{ question.answer | safe }}
                        </td>
                    </tr>
                        {% for distractor in question.alternatives %}
                            {%- if distractor[0] != -1 -%}
                                <tr>
                                    <td style="vertical-align: top">
                                        <b>D#{{distractor[0]}}:</b>
                                    </td>
                                    <td style="vertical-align: top"> 
                                        {{distractor[1]|safe}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                </table>
        </div>
    </div>
</div>
{% endfor %}



<script type="text/javascript">

    function removeQuizQuestion(quiz,question_id){
        let url = '/quizzes/' + quiz.id;
        let result = document.querySelector('#quiz_result');
        let data =  {   "title": quiz.title, 
                        "description": quiz.description,
                        "questions_ids": []
                    };
        for (q of quiz.questions){
            if(q.id != question_id){
                data.questions_ids.push(q.id);
            }
        }
        let xhr = new XMLHttpRequest();
        xhr.open("PUT", url, false); // false to make sure we reload the page after DB has been updated
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
                }
        };

        var data_as_string = JSON.stringify(data);
        xhr.send(data_as_string);
        event.preventDefault();
        event.stopPropagation();
        location.reload();
        return false;
    }



    function editQuizQuestion(qz,qq){
        window.open('/quiz-question-editor/' + qz + '/' + qq, '_blank');
    }



    function submitQuizForm(event){
        // This method only updates an existing quiz' title & description
        let result = document.querySelector('#quiz_result');
        let title = document.querySelector('#quiz_title');
        let description = document.querySelector('#quiz_description');
            
        let xhr = new XMLHttpRequest();
        let url = '/quizzes/{{quiz.id}}';
    
        xhr.open("PUT", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback 
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
                }
        };
        // FIXED 405 returned: that was the lack of quiz.id on the URL
        // Converting JSON data to string 
        // We pass no questions_ids at all since we only want to update the title / description in this page
        // passing an empty list for that field would result in removing all the questions from the quiz instead
        var data = JSON.stringify({ "title": title.value, "description": description.value }); 
        // Sending data with the request 
        xhr.send(data);
        //location.reload();

        
        // FIXED redirects to URL with arguments in ? format
        // had to stop propagation of events in the DOM in the onclick handler
        event.preventDefault();
        event.stopPropagation();

        return false;
        // NOTE return false in onSubmit handlers in order to not reload the page
        // see https://stackoverflow.com/questions/14224366/how-to-avoid-automatic-page-reload-after-xmlhttprequest-call/14224399
        // NOPE... we are using onclick handler here not onsubmit...
        // still looks like it's working...
    }
</script>

{% endblock %}