{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Editing new Question for Quiz ID#{{quiz_id}}</h1>
            <p class="lead">
                Use this page to create a new Quiz Question and add
                distractors to it.
            </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>




<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>

        <h5 class="card-title">
            Question stem & solution
        </h5>

        <div id = "questioneditor">
            <p class="card-text">
            </p>
            <form id="questionForm" method="post" action='/questions'>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" id="title" class="form-control" value="{{ question.title | safe }}" required>
                </div>
                <div class="form-group">
                    <label for="stem">Question</label>
                    <textarea class="summernote form-control" name="stem" id="question" required>
                        {{ question.stem | safe }}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="answer">Answer</label>
                    <textarea class="summernote form-control" name="answer" id="answer" required>
                        {{ question.answer | safe }}
                    </textarea>
                </div>
                <input type="hidden" id="qid" name="qid" value="{{ question.id }}">
                <input type="submit" value="Submit Changes" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>


<!-- we do not allow to add a distractor on the fly. 
    If we did though, instead of the below form, we would need to trigger a JS function that will POST the distractor to the 
    Question list of all distractors but also add it to the list of distractors selected for this specific QuizQuestion.

-->    
<!--
<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title" data-toggle = "collapse" data-target = "#newdistractor">
            Click here to create a new distractor for this question
        </h5>
        <div  id = "newdistractor" class = "collapse">
            <p class="card-text">
                <form id="distractorForm" method="post" action='/questions/{{ question.id }}/distractors'>
                    <div class="form-group">
                        <input type="hidden" name="qid" id="qid" value="{{ question.id }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <textarea class="summernote form-control" name="answer" id="answer" required></textarea>
                    </div>
                    <input type="submit" value="Submit New Distractor" class="btn btn-primary">
                </form>                        
            </p>
        </div>
    </div>
</div>
-->






{% for single_distractor in quiz_question.distractors %}
<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>

        <h5 class="card-title" data-bs-toggle = "collapse" data-bs-target = "#distractor{{single_distractor.id}}">
            Distractor D#{{ single_distractor.id }}
        </h5>

        <div>
            <h6>Distractor Answer:</h6>
            <p class="card-text">
                {{ single_distractor.answer | safe }}
            </p>
            <h6>Justification for not picking:</h6>
            <p class="card-text">
                {{ single_distractor.justification | safe }}
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}