{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Quizzes Browser</h1>
            <p class="lead">
                Use this to find quizzes that are of interest to you. 
                Take note of their quiz ID so that you may then select to
                deploy them to your students or even edit them.
            </p>
    </div>
</div>

<!div class="card-deck">    
    {% for single_quiz in all_quizzes %}
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
    
            <h5 class="card-title">ID {{ single_quiz.id }} - {{ single_quiz.title }}</h5>
    
            <p class="card-text">
                    {{ single_quiz.description | safe }}
            </p>
        </div>
    </div>
    {% endfor %}
<!/div>
<div class="w-50 mx-auto d-flex justify-content-around">
    {% if prev_url %}
        <a class="btn btn-primary my-2" href="{{ prev_url }}">Previous Questions</a>
    {% endif %}
    {% if next_url %}
        <a class="btn btn-primary my-2" href="{{ next_url }}">Next Questions</a>
    {% endif %}
</div>

{% endblock %}