{% extends 'base.html' %}
{% import 'widgets.html' as w %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='multislider.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='multislider.js') }}"></script>
<script>

    function removeQuizQuestion(quiz,question_id){
        let url = '/quizzes/' + quiz.id;
        let result = document.querySelector('#quiz_result');
        let data =  {   "title": quiz.title, 
                        "description": quiz.description,
                        "questions_ids": []
                    };
        for (q of quiz.quiz_questions){
            if(q.id != question_id){
                data.questions_ids.push(q.id);
            }
        }
        let xhr = new XMLHttpRequest();
        xhr.open("PUT", url, false); // false to make sure we reload the page after DB has been updated
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                sendToFlashLand(JSON.parse(this.responseText).message,"primary");
                }
        };

        var data_as_string = JSON.stringify(data);
        xhr.send(data_as_string);
        event.preventDefault();
        event.stopPropagation();
        location.reload();
        return false;
    }

    function editQuizQuestion(qz,qq){
        window.open('/quiz-question-editor/' + qz + '/' + qq, '_blank');
    }

    function submitQuizForm(event){
        // This method only updates an existing quiz' title & description

        let title = document.querySelector('#quiz_title');
        let description = document.querySelector('#quiz_description');
        let step3_enabled = document.querySelector('#quiz_step3_enabled');
            
        let xhr = new XMLHttpRequest();
        let url = '/quizzes/{{quiz.id}}';
    
        xhr.open("PUT", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback 
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                sendToFlashLand(JSON.parse(this.responseText).message,"primary");
                }
        };
        // FIXED 405 returned: that was the lack of quiz.id on the URL
        // Converting JSON data to string 
        // We pass no questions_ids at all since we only want to update the title / description in this page
        // passing an empty list for that field would result in removing all the questions from the quiz instead
        var data = JSON.stringify({ "title": title.value, "description": description.value, "step3_enabled": step3_enabled.checked }); 
        // Sending data with the request 
        xhr.send(data);
        //location.reload();

        
        // FIXED redirects to URL with arguments in ? format
        // had to stop propagation of events in the DOM in the onclick handler
        event.preventDefault();
        event.stopPropagation();

        return false;
        // NOTE return false in onSubmit handlers in order to not reload the page
        // see https://stackoverflow.com/questions/14224366/how-to-avoid-automatic-page-reload-after-xmlhttprequest-call/14224399
        // NOPE... we are using onclick handler here not onsubmit...
        // still looks like it's working...
    }


    $(document).ready( function () {

        const updateStatus = document.getElementById("update-status")
        const qid = {{quiz.id}};

        let weights = {
            initialScoreWeight: {{(quiz.initial_score_weight * 100) | round }},
            revisedScoreWeight: {{(quiz.revised_score_weight * 100) | round }},
            justificationWeight: {{ (quiz.justification_grade_weight * 100) | round }},
            participationWeight: {{ (quiz.participation_grade_weight * 100) | round }},
            designingWeight: {{ (quiz.designing_grade_weight * 100) | round }}
        }

        const noop = async () => {
            updateStatus.classList.remove("d-none")
            setTimeout(() => {
                updateStatus.classList.add("d-none")
            }, 1000)
        }

        createWeightSlider(qid, "#sliderTest", weights, noop)        

        document.querySelector('#limiting_factor').addEventListener('change', onSettingChange(qid, "limiting_factor", noop))

        document.querySelector('#first_quartile_grade').addEventListener('change', onSettingChange(qid, "first_quartile_grade", noop))

        document.querySelector('#second_quartile_grade').addEventListener('change', onSettingChange(qid, "second_quartile_grade", noop))

        document.querySelector('#third_quartile_grade').addEventListener('change', onSettingChange(qid, "third_quartile_grade", noop))

        document.querySelector('#fourth_quartile_grade').addEventListener('change', onSettingChange(qid, "fourth_quartile_grade", noop))

        document.querySelector('#num_justifications_shown').addEventListener('change', onSettingChange(qid, "fourth_quartile_grade", noop))

    });


</script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Quiz Editor</h1>
            <p class="lead">
                Use this to create new questions to add to this quiz.
                First pick a question (solution + answer) then add distractors to it.
                You may also remove entire questions from the quiz.
            </p>
    </div>
</div>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>

        <h5 class="card-title">Configure Quiz' Parameters Below:</h5>
        <div>
            <p class="card-text">
                <ul>
                    <li>
                        Each student will be able to see 
                        <select id="num_justifications_shown" name="numJustificationsOptions">
                            {% for option in numJustificationsOptions %}
                                <option value="{{option}}" {% if quiz.num_justifications_shown == option %} selected {% endif %} >{{option}}</option>
                            {% endfor %}
                        </select> justifications from other students, for each alternative response.
                    </li>              
                    <li>
                        The final grade for each students is based on the following weighted components. 
                        Adjust the weights below: 
                        <br/>
                        {% call w.weight_slider("sliderTest", quiz) %}   
                        <span class="align-self-center text-success d-none" id="update-status">updated!</span>    
                        {% endcall %}
                        <!--
                            This is our modal dialog to configure the participation scoring
                        -->

                        <div class="modal fade" id="TG-GEARBOX-PARTICIPATION" tabindex="-1" role="dialog"
                                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-l">
                                <div class="modal-content">
                                    <ul>
                                        <li>
                                            During step #2, each student will be able to see some justifications from other students
                                            but they may give a "like" to only  
                                            <select id="limiting_factor" name="limitingFactorOptions">
                                                {% for option in limitingFactorOptions %}
                                                    <option value="{{option}}" {% if quiz.limiting_factor * 100 == option %} selected {% endif %} >{{option}}%</option>
                                                {% endfor %}
                                            </select> of them.
                                        </li>
                                        <li id="participation_grade_threshold_display">
                                            As a result, a student will get participation credit if they assign number of likes in given range during step #2.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!--
                            This is our modal dialog to configure the justifications scoring
                        -->
                        <div class="modal fade" id="TG-GEARBOX-JUSTIFICATIONS" tabindex="-1" role="dialog"
                                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-l">
                                <div class="modal-content">
                                    <ul>
                                        <li>
                                            Students in the following quartiles will receive the amount of points set below: 
                                            <ul>
                                                <li>1st quartile receives 
                                                    <select id="first_quartile_grade" name="quartileOptions">
                                                        {% for option in quartileOptions %}
                                                            <option value="{{option}}" {% if quiz.first_quartile_grade == option %} selected {% endif %} >{{option}} points</option>
                                                        {% endfor %}
                                                    </select> 
                                                </li>
                                                <li>2nd quartile receives 
                                                    <select id="second_quartile_grade" name="quartileOptions">
                                                        {% for option in quartileOptions %}
                                                            <option value="{{option}}" {% if quiz.second_quartile_grade == option %} selected {% endif %} >{{option}} points</option>
                                                        {% endfor %}
                                                    </select> 
                                                </li>
                                                <li>3rd quartile receives 
                                                    <select id="third_quartile_grade" name="quartileOptions">
                                                        {% for option in quartileOptions %}
                                                            <option value="{{option}}" {% if quiz.third_quartile_grade == option %} selected {% endif %} >{{option}} points</option>
                                                        {% endfor %}
                                                    </select> 
                                                </li>
                                                <li>4th quartile receives 
                                                    <select id="fourth_quartile_grade" name="quartileOptions">
                                                        {% for option in quartileOptions %}
                                                            <option value="{{option}}" {% if quiz.fourth_quartile_grade == option %} selected {% endif %} >{{option}} points</option>
                                                        {% endfor %}
                                                    </select> 
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>             
            </p>
        </div>
    </div>
</div>





<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <div>
        <p class="card-text">
            <form id='QuizForm'>
                <div class="form-group">
                    <label for="quiz_title">Title</label>
                    <input name="quiz_title" id="quiz_title" value="{{quiz.title}}" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="quiz_description">Description</label>
                    <textarea class="summernote form-control" name="quiz_description" id="quiz_description" required>
                        {{quiz.description}}
                    </textarea>
                </div>
                <br>
                <div class="form-group">
                    <input type="checkbox" id="quiz_step3_enabled" name="quiz_step3_enabled" {{ "checked" if quiz.step3_enabled == "True" }}>
                    <label for="quiz_step3_enabled">Enable Step #3</label>
                </div>
                <br>
                <button onclick="submitQuizForm(event)" class="btn btn-primary">Submit Changes</button>
            </form>
        </p>
        </div>
    </div>
</div>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        {% if available_qestions_count > 0 %}
        <button onclick="addExistingQuestion()" class="btn btn-primary">Add existing question to this Quiz</button>
        {% else %}
        <span>No available questions for this quiz. <a href="{{url_for("pages.questions_browser")}}">Create new question</a></span>
        {% endif %}
    </div>
</div>

<script>
    function addNewQuestion(){
        window.open('/quiz-question-editor/{{quiz.id}}/-1', '_blank');
        // -1 means that we want to create a new question
    }

    function addExistingQuestion(){
        window.open('/quiz-question-selector-1/{{quiz.id}}', '_blank');
    }
</script>

{% for qq in quiz.quiz_questions %}
<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title"> 
            <a  href='#' onclick="editQuizQuestion({{quiz.id}},{{qq.id}})" type="button" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
            </a>

            <a  href='#' onClick="removeQuizQuestion({{quiz}},{{qq.id}})" type="button" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>

            {{qq.title|safe}} [ID#{{qq.id}}]

        </h5>
        
        <div>
            <p class="card-text">
                <table style="border: 0;border-collapse: separate; border-spacing: 0px 3px 1rem 3px;" cellpadding="10">
                    <tr>
                        <td style="vertical-align: top"><b>Q:</b></td>
                        <td>
                            {{ qq.stem | safe }}
                        </td>
                    </tr>
                    <tr>   
                        <td style="vertical-align: top"><b>A:</b></td>
                        <td>
                            {{ qq.answer | safe }}
                        </td>
                    </tr>
                        {% for distractor in qq.alternatives %}
                            {%- if distractor[0] != -1 -%}
                                <tr>
                                    <td style="vertical-align: top">
                                        <b>D#{{distractor[0]}}:</b>
                                    </td>
                                    <td style="vertical-align: top"> 
                                        {{distractor[1]|safe}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                </table>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}