{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#gradingtable').DataTable();
    } );
</script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Quizzes Browser</h1>
            <p class="lead">
                Use this to find quizzes that are of interest to you. 
                Take note of their quiz ID so that you may then select to
                deploy them to your students or even edit them.
            </p>
    </div>
</div>

<!div class="card-deck">
    <div class="card bg-light m-3 mx-auto" style="width: 75%">
        <div class="card-body" bg-light>
    
            <table class='compact stripe' width='100%' id="gradingtable">
                <thead><tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Grade</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr></thead>
                <tbody>
                        
                {% for single_quiz in all_quizzes %}
                    <tr>
                        <td>
                            {{ single_quiz.id }}
                        </td>
                        <td>
                            <p data-toggle = "modal" data-target = "#q{{single_quiz.id}}">
                                {{ single_quiz.title }}
                            </p>
                            <div class="modal fade" id="q{{single_quiz.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                    {{ single_quiz.description | safe }}
                                </div></div>
                            </div>
                        </td>
                        <td>
                            <a  href='{{url_for('pages.get_grades', qid=single_quiz.id)}}'
                            type="button" class="btn btn-info">
                            Grade
                            </a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
<!/div>

{% endblock %}