{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Step #2 - Select the Distractors</h1>
            <p class="lead">
                Based on the Question that you previously selected, we show you below the list of all the distractors
                that have been created for that questions. 
                Choose the ones that you want your students to be presented when they have to answer this question.
            </p>
    </div>
</div>



<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title">
            Previewing Question Q#{{question.id}}
        </h5>
        <div>
            <p class="card-text">
                <table style="border: 0;border-collapse: separate; border-spacing: 0px 3px 1rem 3px;" cellpadding="10">
                    <tr>
                        <td colspan="2"><b>{{question.title | safe}}</b></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top"><b>Q:</b></td>
                        <td>
                            {{ question.stem | safe }}
                        </td>
                    </tr>
                    <tr>   
                        <td style="vertical-align: top"><b>A:</b></td>
                        <td>
                            {{ question.answer | safe }}
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
</div>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <a class="btn btn-primary my-2 btn-sm" onClick='submitQuizQuestion()' href="#">
            Submit with all selected distractors below
        </a>
    </div>
</div>
<script>
    async function submitQuizQuestion(){
        url="/quiz-question-selector-2/{{quiz_id}}/{{question.id}}"
        // collect all the checked distractors, get their IDs, put them in a list
        const checkboxes = document.querySelectorAll('input[name="distractors_checkboxes"]:checked');
        let checked_distractors = [];
        checkboxes.forEach((checkbox) => {
            checked_distractors.push(checkbox.value);
        });
        let response;
        try {
            response = await fetch(url,{
                method:         'POST',
                headers:        {'Content-Type' : 'application/json'},
                body:           JSON.stringify({"selected_distractors" :  checked_distractors}),
                credentials:    'same-origin'
            })
            response = await response.json();
            if (response.status === "success") {
                sendToFlashLand(response.message, response.status);
                await delay(2000);
                window.location.href = response.redirect;
            } else {
                sendToFlashLand(response.message, response.status);
            }
        } catch (error) {
            console.log(error);
        }
    }
</script>


<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>
        <h5 class="card-title">
            List of all distractors that were created for this Question
        </h5>
        <table style="border:1px solid">
            <tr>
                <th style="border:1px solid; padding:  0 0.5em">
                    Distractor ID#
                </th>
                <th style="border:1px solid; padding:  0 0.5em">
                    Description
                </th>
                <th style="border:1px solid; padding:  0 0.5em">
                    Justification for not picking
                </th>
            </tr>
{% for distractor in question.distractors %}
            <tr>
                <td  style="border:1px solid; padding:  0 0.5em" valign='top'>
                    <label for="D{{distractor.id}}">
                        <INPUT TYPE="Checkbox" Name="distractors_checkboxes" ID="D{{distractor.id}}" Value="{{distractor.id}}">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {{distractor.id}}
                    </label>
                </td>
                <td  style="border:1px solid; padding:  0 0.5em" valign="top">
                    {{ distractor.answer | safe }}
                </td>
                <td  style="border:1px solid; padding:  0 0.5em" valign="top">
                    {{ distractor.justification | safe }}
                </td>
            </tr>
        </div>
{% endfor %}
    </table>
    </div>
</div>

{% endblock %}