{% extends 'base.html' %}
{% import 'widgets.html' as w %}

{% block title %}EvoPIE{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='multislider.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='multislider.js') }}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Quiz Configuration</h1>
            <p class="lead">
                Use this to configure the quiz.
                This page can be used to change deadlines.
            </p>
    </div>
</div>

<div class="card bg-light m-3 mx-auto" style="width: 75%">
    <div class="card-body" bg-light>

        <h5 class="card-title">Configure Quiz' Parameters Below:</h5>
        <form id='QuizForm'>
            <div class="form-group">
                <label for="quiz_deadline0">Quiz Release Deadline</label>
                <input type="datetime-local" id="quiz_deadline0" name="quiz_deadline0">
            </div>
            <div class="form-group">
                <label for="quiz_deadline1">Step1 Submission Deadline</label>
                <input type="datetime-local" id="quiz_deadline1" name="quiz_deadline1">
            </div>
            <div class="form-group">
                <label for="quiz_deadline2">Step2 Submission Deadline</label>
                <input type="datetime-local" id="quiz_deadline2" name="quiz_deadline2">
            </div>
            <div class="form-group">
                <label for="quiz_deadline3">Solutions Release Deadline</label>
                <input type="datetime-local" id="quiz_deadline3" name="quiz_deadline3">
            </div>
            <div class="form-group">
                <label for="quiz_deadline4">Quiz Availability Deadline</label>
                <input type="datetime-local" id="quiz_deadline4" name="quiz_deadline4">
            </div>
            <button onclick="submitQuizForm({{quiz.id}})" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<script type="text/javascript">
    function submitQuizForm(quiz_id){
        let deadline0 = document.querySelector('#quiz_deadline0');
        let deadline1 = document.querySelector('#quiz_deadline1');
        let deadline2 = document.querySelector('#quiz_deadline2');
        let deadline3 = document.querySelector('#quiz_deadline3');
        let deadline4 = document.querySelector('#quiz_deadline4');
        
        let xhr = new XMLHttpRequest();
        let url = '/update-quiz-configuration/' + quiz_id;
    
        xhr.open("PUT", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback 
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 201) {
               sendToFlashLand(this.responseText,"success");
            } else if (xhr.readyState === 4 && xhr.status === 400) {
                sendToFlashLand(this.responseText,"danger");
            } else {
                sendToFlashLand("Please fill all the fields", "danger");
            }
        };

        // Converting JSON data to string 
        // old version limited to 3 questions
        // var data = JSON.stringify({ "title": title.value, "description": description.value, "questions_ids": [parseInt(qq1.value), parseInt(qq2.value), parseInt(qq3.value)] });
        
        var data = JSON.stringify({ "deadline0": deadline0.value, "deadline1": deadline1.value, "deadline2": deadline2.value, "deadline3": deadline3.value, "deadline4": deadline4.value });
        
        // Sending data with the request 
        xhr.send(data);
        event.preventDefault();
        //event.stopPropagation();
        return false;
    }
</script>

{% endblock %}