{% extends 'base.html' %}
{% import 'widgets.html' as w %}

{% block title %}EvoPIE{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Solutions - {{quiz.title | safe }}</h1>
            <h3>Deadline - {{quiz.deadline4|date}}</h3>
            <p class="lead">
                Hello, {{current_user.first_name}} {{current_user.last_name}} ({{current_user.email}}). 
                Here are the answers to this quiz with instructor justifications.
            </p>

            <p class="lead">
                <h2>About this quiz:</h2>
                {{quiz.description | safe}}
            </p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target=".TG-RUB">
            Show Rubric
            </button>
            <div class="modal fade TG-RUB" tabindex="-1" role="dialog"
                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <table class="table table-bordered" style="margin-bottom: 0px;">
                            <thead>
                              <tr>
                                <th scope="col">Criteria</th>
                                <th scope="col">Ratings</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Pts</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">New or Modified Distractor</th>
                                <td value="100">100 pts Full Marks</td>
                                <td value="85">85 pts Partial Marks</td>
                                <td value="70">70 pts Partial Marks</td>
                                <td value="0">0 pts No Marks - Duplicate of seen distractor or incorrect distractor</td>
                                <td>100</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for q in questions %}
        <div class="card bg-light m-3 mx-auto content" style="width: 75%">
            <div class="card-body" bg-light>
                <h1 class="card-title">Question #{{loop.index}} - {{q.title |safe|unescapeDoubleQuotes}}</h1>
                <p class="card-text">{{q.stem|safe|unescapeDoubleQuotes}}</p>
                
                <dl>
                    <dt>Your answer is pre-selected below</dt>
                </dl>
                
                <div class="list-group list-group-flush">
                
                {% for answer in q.alternatives %}
                {% set explanation = explanations[q.id|string][loop.index0|string] %}
                    <div class="list-group-item border border-primaryrounded updateSize"  style="height:fit-content">
                        <div class="form-group">
                            <div class="form-check {% if explanation.is_correct -%} bg-warning {%- endif -%}">                            
                                {{ w.question_option(q, loop.index0, answer, disabled=True) }}
                                
                                <div class = "justificationsContainer">
                                    <table class="expandable-content table">                                        
                                        <tr>
                                            <td class='text-start'>
                                                <p> {{ explanation.justification | safe }} </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <br>

                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Here is the distractor you submitted for this question
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><u>Distractor:</u> {{q.invalidated_distractors[q.id].answer | striptags | safe}}</p>
                        <p><u>Justification:</u> {{q.invalidated_distractors[q.id].justification | striptags | safe}}</p>
                    </blockquote>
                    </div>
                </div>

                <br>

                <div class="card text-white bg-primary">
                    <div class="card-header">
                        Grade and comment from the instructor
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><u>Grade:</u></p>
                        <p>{{q.invalidated_distractors[q.id].grade | safe}} / 100</p>
                        <p><u>Instructor's Comment:</u> {{q.invalidated_distractors[q.id].comment | striptags| safe}}</p>
                    </blockquote>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}