{% extends 'base.html' %}
{% import 'widgets.html' as w %}

{% block title %}EvoPIE{% endblock %}

{% block content %}

<script>

const saveDistractors = async (distractor_id) => {
    const {} = await fetchJson(`/student_distractors/${distractor_id}/add_to_pool`, {
        method: 'PUT',
        headers: {'Content-Type' : 'application/json'},
        body: JSON.stringify({
            distractor_id: distractor_id,
        }),
        credentials: 'same-origin'
    })           
}

const removeDistractors = async (distractor_id) => {
    const {} = await fetchJson(`/student_distractors/${distractor_id}/remove_from_pool`, {
        method: 'PUT',
        headers: {'Content-Type' : 'application/json'},
        body: JSON.stringify({
            distractor_id: distractor_id,
        }),
        credentials: 'same-origin'
    })           
}

const saveComment = async (student_distractor_comment, distractorId) => {
    const {} = await fetchJson(`/student_distractors/${distractorId}/comment`, {
        method: 'PUT',
        headers: {'Content-Type' : 'application/json'},
        body: JSON.stringify(student_distractor_comment),
        credentials: 'same-origin'
    })             
}

const saveInstructorComment = async (ev) => {
    const distractorId = ev.target.dataset.distractorId;
    const altId = parseInt(ev.target.dataset.altId);
    const isEmpty = $(ev.target).summernote("isEmpty")
    const student_distractor_comment = { "comment": isEmpty ? "" : ev.target.value }
    await saveComment(student_distractor_comment, distractorId);
}

const saveDistractorGrade = async (distractorId, value) => {
    const {} = await fetchJson(`/student_distractors/${distractorId}/grade`, {
        method: 'PUT',
        headers: {'Content-Type' : 'application/json'},
        body: JSON.stringify({
            "grade": value,
        }),
        credentials: 'same-origin'
    })
}

$(() => {
    $("textarea.summernote.comment")
        .on("summernote.change", (ev) => {
            ev.target.dataset.state = "changed";
        })
        .on("summernote.blur", async (ev) => {
            if (ev.target.dataset.state == "changed") {                        
                await saveInstructorComment(ev)
                ev.target.dataset.state = "";
            }
    })
})

$(document).ready(function() {

    const acceptDistractorButtons = document.querySelectorAll('input[id^="student_distractor_accept_"]');
    const rejectDistractorButtons = document.querySelectorAll('input[id^="student_distractor_reject_"]');

    acceptDistractorButtons.forEach(function(button) {
        const distractorId = button.id.split('_')[3];
        button.addEventListener('click', async function() {
            const respectiveRejectButton = document.getElementById(`student_distractor_reject_${distractorId}`);
            respectiveRejectButton.nextElementSibling.classList.remove("active");
        });
    });

    rejectDistractorButtons.forEach(function(button) {
        const distractorId = button.id.split('_')[3];
        button.addEventListener('click', async function() {
            const respectiveAcceptButton = document.getElementById(`student_distractor_accept_${distractorId}`);
            respectiveAcceptButton.nextElementSibling.classList.remove("active");
        });
    });

    const rubricRows = document.querySelectorAll('tr[id^="student_distractor_"]');
    rubricRows.forEach(function(row) {
        const cells = row.querySelectorAll('td');
        cells.forEach(function(cell) {
            cell.addEventListener('click', function() {
                const distractorId = row.id.split('_')[3];
                const value = cell.getAttribute("value")
                const previousSelectedCell = row.querySelector('td.table-info');
                if (previousSelectedCell) {
                    previousSelectedCell.classList.remove("table-info");
                }
                cell.classList.toggle("table-info");
                saveDistractorGrade(distractorId, value);
            });
        });
    }); 
});

</script>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Step 3 Grade - {{quiz.title | safe }}</h1>
        <h2 class="display-6">Student - {{student.first_name}} {{student.last_name}}</h2>
        <p class="lead">
            Hello, {{current_user.first_name}} {{current_user.last_name}}. 
            Use this page to grade the student's distractors for step 3.
        </p>
    </div>
</div>

{% for q in questions %}
    <div class="card bg-light m-3 mx-auto content" style="width: 75%">
        <div class="card-body" bg-light>
            <h1 class="card-title">Question #{{loop.index}} - {{q.title |safe|unescapeDoubleQuotes}}</h1>
            <p class="card-text">{{q.stem|safe|unescapeDoubleQuotes}}</p>
            
            <div class="list-group list-group-flush">
                {% for answer in q.alternatives %}
                {% set explanation = explanations[q.id|string][loop.index0|string] %}
                    <div class="list-group-item border border-primaryrounded updateSize"  style="height:fit-content">
                        <div class="form-group">
                            <div class="form-check {% if explanation.is_correct -%} bg-warning {%- endif -%}">                            
                                {{ w.question_option(q, loop.index0, answer, disabled=True) }}
                                
                                <div class = "justificationsContainer">
                                    <table class="expandable-content table">                                        
                                        <tr>
                                            <td class='text-start'>
                                                <p> {{ explanation.justification | safe }} </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <br>

            {% for student_distractor in student_created_distractors %}
                {% if student_distractor.question_id == q.id %}
                    <div class="card">
                        <div class="card-header">
                            Here is the distractor submitted by the student
                        </div>
                        <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><u>Distractor:</u> {{student_distractor.answer | striptags | safe}}</p>
                            <p><u>Justification:</u> {{student_distractor.justification | striptags | safe}}</p>
                        </blockquote>
                        </div>
                    </div>

                    <br>

                    <table class="table table-bordered" style="margin-bottom: 0px;">
                        <thead>
                          <tr>
                            <th scope="col">Criteria</th>
                            <th scope="col">Ratings</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Pts</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="student_distractor_grade_{{student_distractor.id}}" class="pointer-link">
                            <th scope="row">New or Modified Distractor</th>
                            <td value="100" {% if student_distractor.grade == 100 %} class="table-info" {% endif %}>100 pts Full Marks</td>
                            <td value="85" {% if student_distractor.grade == 85 %} class="table-info" {% endif %}>85 pts Partial Marks</td>
                            <td value="70" {% if student_distractor.grade == 70 %} class="table-info" {% endif %}>70 pts Partial Marks</td>
                            <td value="0" {% if student_distractor.grade == 0 %} class="table-info" {% endif %}>0 pts No Marks - Duplicate of seen distractor or incorrect distractor</td>
                            <th>100</th>
                          </tr>
                        </tbody>
                    </table>

                    <br>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target=".TG-REV-{{q.id}}">
                        Distractor Pool
                    </button>
                    <div class="modal fade TG-REV-{{q.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <table>
                                    <tr>
                                        <th>ID</th>
                                        <th>Distractor</th>
                                        <th>Justification</th>
                                    </tr>
                                    {% for distractor in q.distractors_pool %}

                                        <tr style="border: 1px solid;">
                                            <td class="text-start align-top">{{ distractor.id | safe }}</td>
                                            <td class="text-start align-top">{{ distractor.answer | safe }}</td>
                                            <td class="text-start align-top">{{ distractor.justification | safe }}</td>
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <input type="radio" class="btn-check" name="options-outlined" id="student_distractor_accept_{{q.id}}" autocomplete="off" onchange="saveDistractors({{student_distractor.id}})">
                    <label {% if student_distractor.accepted == "True" %} class="btn btn-outline-success active" {% else %} class="btn btn-outline-success" {% endif %} for="student_distractor_accept_{{q.id}}">Accept Distractor</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="student_distractor_reject_{{q.id}}" autocomplete="off" onchange="removeDistractors({{student_distractor.id}})">
                    <label {% if student_distractor.accepted == "False" %} class="btn btn-outline-danger active" {% else %} class="btn btn-outline-danger" {% endif %} for="student_distractor_reject_{{q.id}}">Reject Distractor</label>

                    <a class="btn btn-primary float-end" href="{{url_for('pages.quiz_grader', qid=quiz.id, course_id=course.id)}}" role="button">Back to Quiz Grader</a>

                    <div class="card bg-light m-3">
                        <div class="card-body" bg-light>
                            <h5 class="card-title">
                                Add a comment for their distractor
                            </h5>
                            <p class="card-text">
                                <div>
                                    <textarea class="summernote comment form-control"
                                            data-distractor-id="{{student_distractor.id}}" data-alt-id="{{loop.index0}}"
                                            name="student_distractor_{{student_distractor.id}}_{{loop.index0}}"
                                            rows="3" onchange="alert('test')"
                                            placeholder="">{{ student_distractor.comment | safe}}</textarea>  
                                </div>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endfor %}

{% endblock %}