{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block content %}

{% if attempt is defined %}
<script>var step = 2;</script>
{% else %}
<script>var step = 1;</script>
{% endif %}

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(){
            var parser = new DOMParser;
            var json_data_initial_responses;
            var json_data_questions;

            if(step == 2){
                // extracting initial responses
                var attempt_raw = "{% if attempt is defined %} {{ attempt.initial_responses }} {% endif %}"
                var dom = parser.parseFromString('<!doctype html><body>' + attempt_raw, 'text/html');
                var usable = dom.body.textContent;
                // this is one ugly hack to make sure we don't screw with data like {'1': 'let's roll'}
                usable = usable.replace(/ /g,'')
                usable = usable.replace(/{\'/g,'{"')
                usable = usable.replace(/\'}/g,'"}')
                usable = usable.replace(/,\'/g,',"')
                usable = usable.replace(/\',/g,'",')
                usable = usable.replace(/:\'/g,':"')
                usable = usable.replace(/\':/g,'":')

                json_data_initial_responses = JSON.parse(usable);
            }

            // let's get the questions also in a usable format
            var questions_raw = '{{ questions|tojson }}';
            var dom_questions = parser.parseFromString('<!doctype html><body>' + questions_raw, 'text/html');
            var usable_questions = dom_questions.body.textContent;
            json_data_questions = JSON.parse(usable_questions);

           // go thru all the initial responses
           for(var key in json_data_initial_responses){
                var the_question = json_data_questions[key - 1];
                var original_answer = "You did not submit an answer for this question during step 1 of this quiz.";

                // Fetching original answer for this question
                for(const alt of the_question.alternatives)
                    if(alt[0] == json_data_initial_responses[key]){
                        original_answer =  alt[1];
                        // setting the corresponding radio button to "checked"
                        var radio_id = 'alternative_' + the_question.id + '_' + alt[0] + '_check';
                        document.getElementById(radio_id).checked = true;
                    }
           }
        }
    );
</script>

<script>
    function submitQuiz(){
        var all_questions = '{{ questions|tojson }}';
        // removing #&39;
        var parser = new DOMParser;
        var dom = parser.parseFromString('<!doctype html><body>' + all_questions, 'text/html');
        var usable = dom.body.textContent;
        var json_data = JSON.parse(usable);
        var post_data;

        if(step==2)
            post_data = { "revised_responses" : {} };
        else
            post_data = { "initial_responses" : {}, "justifications" : {}};
        

        for (var i = 0 ; i < json_data.length ; i++){
            var question = json_data[i];
            var name = "question_" + question["id"]; // radio group has name based on question ID
            var elements = document.getElementsByName(name);
            
            var distractor_id = 0; // distractor id of the selected alternative
            
            for(var j=0 ; j < elements.length ; j++)
                if(elements[j].checked)
                    distractor_id = elements[j].value;

            if(step==2)
                post_data["revised_responses"][question["id"]] = distractor_id;
            else{
                var justifications = {};
                for(var j = 0 ; j < question.alternatives.length; j++){
                    var alternative = question.alternatives[j];
                    var target_id = "alternative_" + question["id"] + "_" + alternative[0] + "_justify";
                    justifications[alternative[0]] = document.getElementById(target_id).value;
                    //TODO check that every non-selected alternative has a justification
                }
                post_data["initial_responses"][question["id"]] = distractor_id;
                post_data["justifications"][question["id"]] = justifications;
            }
        }

        var what_is_next = '{{ url_for("pages.index") }}';
        let target_url = '/quizzes/' + "{{quiz.id}}" + "/take"; 
        
        fetch(target_url,{
            method:         'POST',
            headers:        {'Content-Type' : 'application/json'},
            body:           JSON.stringify(post_data),
            credentials:    'same-origin'
        })
        .then(response => response.statusText)
        .then(data => {
            alert("Result of your submission is: " + data);
            window.location.href = what_is_next;
        })
        .catch((error) => {
            alert("Result of your submission is: " + error);
            window.location.href = what_is_next;
        })
    }
</script>



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% if attempt is not defined %}
            <h1 class="display-4">Step 1 - {{quiz.title}}</h1>
            <p class="lead">
                Hello, {{student.first_name}} {{student.last_name}}, {{student.email}}. 
                Welcome to STEP 1 of this quiz.
            </p>
        {% else %}
        <h1 class="display-4">Step 2 - {{quiz.title}}</h1>
        <p class="lead">
            Hello, {{student.first_name}} {{student.last_name}}, {{student.email}}. 
            Welcome to STEP 2 of this quiz.
        </p>
        {% endif %}
            
        <p class="lead">

            {% if attempt is defined %}
            Instructions:
            <ul>
                <li> The questions below are the same that you previous answered. </li>
                <li> The solution that you originally submitted is listed below as a reminder.</li>
                <li>
                    Justifications that other students provided for not chosing each of the available
                    alternatives are also provided.
                </li>
                <li>
                    Use them to determine what is your definitive answer to each question.
                </li>
            </ul>
            {% else %}
            Instructions:
            In order to receive any credit at all for your quiz, make sure that you: 
            <ul>
                <li>Select 1 solution for each question below.</li>
                <li>Provide a meaningful justification of why you think that the alternatives
                    that you did not select are incorrect.</li>
            </ul>
            {% endif %}

        </p>
        <p class="lead">
            When you are done taking the quiz, press <button class="btn btn-primary" onclick="submitQuiz()">Submit Quiz</button>. 
            A crude popup will let you know whether it was accepted ("OK"), of if you tried to resubmit twice ("FORBIDDEN").
            If you were trying to submit twice, no worries, your first submission is enough.
        </p>
        <p class="lead">
            {{quiz.description}}
        </p>
    </div>
</div>

<!--
    <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
-->

<!div class="card-deck">
    {% for q in questions %}
        <div class="card bg-light m-3 mx-auto" style="width: 75%">
            <div class="card-body" bg-light>
                <h5 class="card-title">Question #{{q.id}} - {{q.title|safe|unescapeDoubleQuotes}}</h5>
                <p class="card-text">{{q.stem|safe|unescapeDoubleQuotes}}</p>
                <dl>
                    <dt>Your orginal answer is pre-selected below</dt>
                </dl>
                <ul class="list-group list-group-flush">
                {% for id,alt in q.alternatives %}
                    <li class="list-group-item border border-primaryrounded">
                        <div class="form-group">
                            <div id="alternative_{{q.id}}_{{id}}" class="form-check">

                                <input type="radio"
                                    name="question_{{q.id}}"
                                    id="alternative_{{q.id}}_{{id}}_check" value="{{id}}"
                                    class="form-check-input"></input>
                                
                                <label for="alternative_{{q.id}}_{{id}}_check"
                                    class="form-check-label">{{alt|safe|unescapeDoubleQuotes}}</label>
                                
                                {% if attempt is defined %}
                                <p> Reason suggested by one of your peers for not selecting this one: </p>
                                <p>
                                    {% for question_key, question in justifications.items() %}
                                        {% if question_key|int == q.id|int %}
                                            {% for distractor_key,justification in question.items() %}
                                                {% if distractor_key|int == id|int %}
                                                    <p> {{ justification["justification"] }} </p>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                {% else %}
                                <!--
                                    <textarea
                                    id="alternative_{{q.id}}_{{id}}_justify" name="alternative_{{q.id}}_{{id}}_justify"
                                    class="form-control reveal-if-not-selected"
                                    rows="3"
                                    placeholder="Explain here why you did not select this alternative."></textarea>
                                -->
                                <textarea
                                    class="summernote form-control reveal-if-not-selected"
                                    name="alternative_{{q.id}}_{{id}}_justify" id="alternative_{{q.id}}_{{id}}_justify"
                                    rows="3"
                                    placeholder="Explain here why you did not select this alternative."></textarea>                                   
                                {% endif %}

                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
<!/div>


<div class='container'>
    <p class="lead">
        When you are done taking the quiz, press <button class="btn btn-primary" onclick="submitQuiz()">Submit Quiz</button>. 
        A crude popup will let you know whether it was accepted ("OK"), of if you tried to resubmit twice ("FORBIDDEN").
        If you were trying to submit twice, no worries, your first submission is enough.
    </p>
</div>
{% endblock %}