{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block content %}
<p>
    Hello, {{student.first_name}} {{student.last_name}}, {{student.email}}
</p>
    <h1>Quiz #{{quiz.id}} - {{quiz.title}}</h1>
    <p>
        {{quiz.description}}
    </p>
    {% for q in questions %}
        <h2>
            Question #{{q.id}} - {{q.title}}
        </h2>
        <p>
            {{q.stem}}
        </p>
        <ul>
            {% for id,alt in q.alternatives %}
                <li>
                    #{{id}} - {{alt}}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
