.flashes-div {
    margin-left: 10%;
    margin-right: 10%;
    background-color: red;
    color: white;
  }

  .progressbar {
    position: relative;
    max-width: 500px;
    border-radius: 2rem;
    width: 100%;
    margin: 30px auto 0;
    height: 30px;
    background: rgb(141 216 255);
    overflow: hidden;
  }
  
  span.progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(223, 96, 65);
    transition: all .3s;
  }

  /* *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  } */

  .progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .progress-bar__container {
    width: 80%;
    height: 2rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #e76f51;
  }
  
  .progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #e76f51;
    top:0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
  }
  
  .progress-bar__text {
    display: none;
  }

  .sticky {
    position: fixed !important;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    padding-top:10px;
    transform: translate(25rem, 900%);
}

#justificationsTable {
  display: none;
}

