{% extends 'base.html' %}

{% block title %}EvoPIE{% endblock %}

{% block content %}
  <script type="text/javascript">
    function onSubmitForm(){
        var quiz = document.getElementById('qid');
        var action = document.getElementById('distractorForm');
        action.action = action.action + quiz.value;
    }
  </script>
  <form id="distractorForm" method="post" onsubmit="return onSubmitForm();" action='http://localhost:5000/q/'>
    <label for="qid">Quiz</label>
    <input name="qid" id="qid" value="2" required>
    <label for="answer">Answer</label>
    <input name="answer" id="answer" required>
    <input type="submit" value="Submit">
  </form>

    {% for quiz in quizzes %}
        <div>
            <h1> {{ quiz['title'] }}       </h1>
            <p>  {{ quiz['question'] }}    </p>
            <ul>
                {% for option in quiz['options'] %}
                    <li> {{ option }} </li>
                {% endfor %}    
            </ul>
        </div>
    {% endfor %}
{% endblock %}